* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  position: relative;
  background-color: antiquewhite;
}
.menu {
  width: 500px;
  display: flex;
  background: #333;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  display: block;
  padding: 15px 30px;
  color: #fff;
}
.submenu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background: #555;
  width: 150px;
  z-index: 3;
}
.submenu.active {
  display: block;
}
.submenu li a {
  display: block;
  padding: 10px;
  color: #fff;
}
.submenu li a:hover {
  background: #777;
}
.headerBg {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #444;
  z-index: 1;
  display: none;
}
