@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h2 {
  text-align: center;
}
.slide_wrap {
  width: 600px;
  margin: 100px auto;
  overflow: hidden;
}
/* 1. 좌우 슬라이드 */
.slide_list {
  display: flex;
}
.slide_list > li {
  /* flex-grow: 0; 여분 공간을 늘리지 않음 */
  /* flex-shrink: 0; 공간이 부족해도 줄어들지 않음 */
  /* flex-basis: 600px; 아이템의 기본 크기*/
  flex: 0 0 600px;
}

/* 2. 위로 슬라이드 */
.slide_up_box {
  width: 600px;
  height: 400px;
  overflow: hidden;
}
.slide_list_up > li {
  height: 400px;
}

/* 3. fadeIn / fadeOut */
.slide_fade {
  position: relative;
  width: 100%;
  height: 400px;
}
.slide_fade li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: none; */
}
