@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  background-color: #fff;
  color: #666;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #666;
}
/* tabmenu */
.tabmenu {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 100px auto;
}
.tabmenu > li {
  position: absolute;
}
.tabmenu > li > a {
  width: 100px;
  line-height: 40px;
  text-align: center;
  background-color: cadetblue;
  color: #fff;
}
.tabmenu > li.active > a {
  background-color: #333;
}
.tabmenu > li:last-child > a {
  position: absolute;
  left: 110px;
}
/* tabmenu 내용 영역 */
.tabmenu > li > div {
  background-color: rgb(158, 220, 223);
  width: 600px;
  padding: 15px 0;
  display: none;
}
.tabmenu > li.active > div {
  display: block;
}
/* 공지사항 */
.notice > ul > li > a {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.notice > ul > li:nth-child(even) > a {
  background-color: rgba(0, 0, 0, 0.1);
}
/* 갤러리 */
.gallery {
  position: absolute;
  top: 40px;
}
.gallery > ul {
  display: flex;
  justify-content: space-around;
}
/* modal */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  display: none;
}
#modal.active {
  display: block;
}
.modal-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 500px;
}
.modal-btn {
  cursor: pointer;
}
